node_modules/
android/
ios/
.expo/
.expo-shared/
.gradle/
local.properties
*.iml
.build/
dist/
npm-debug.log
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
.env.local
.DS_Store
*.swp
*.swo
*~
